doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(
			name="viewport"
			content="width=device-width, initial-scale=1"
		)
		title= "title"
		link(
			rel="stylesheet",
			href="css/style.min.css"
		)
	body
		include parts/header/header.pug
		include parts/header/frontpage_promo.pug
		include parts/about_water.pug
		include parts/our_advantages.pug
		include parts/footer/footer.pug
